@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Corinthia:wght@700&family=Poor+Story&family=Shadows+Into+Light&display=swap');
body{
    margin: 0px;
}
.title{
    font-family: 'Poor Story', cursive;
}
.title:hover{
    letter-spacing: 2px;
    transition-duration: 2s;
}
.idk a{
    text-decoration: none;
    color: rgb(50, 163, 163);
    font-family: 'Poor Story', cursive;
    font-size: 30px;
    margin-right: 15px;
    padding: 25px;
}
.idk a:hover{
    text-decoration: underline;
    letter-spacing: 2px;
    transition-duration: 2s;
}
.main{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: burlywood;
    display: flex;
    align-items: center;
}
.bl{
    font-family: 'Poor Story', cursive;
    color:  #008026;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wl{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wl img:hover{
    transition-duration: 1s;
    width: 200px;
    height: 200px;
}
.wl p{
    font-size: 50px;
    font-family: "Comic Sans MS";
    color: #bf94e4 ;
}
.wl p:hover{
    font-size: 52px;
    color: #E6E6FA ;
    letter-spacing: 2px;
    transition-duration: 1s;
}
.gl{
    font-family: 'Poor Story', cursive;
    color: darkmagenta;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kid{
    font-family: 'Poor Story', cursive;
    color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.moti{
    font-family: 'Poor Story', cursive;
    color: darkred;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cpr{
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #A3E4D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
